@import url('https://fonts.googleapis.com/css?family=Francois+One|Pacifico');
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #643A79;
}

.fix-Brand,
.nav-links {
    padding: 0px;
}

.navbar-brand {
    height: 0px;
    padding: 0px;
    font-size: 0px;
    line-height: 0px
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    background: #87509C;
    z-index: 9999;
}

.nav-color {
    background: #87509C;
    border: none;
    border-radius: 0px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    border-radius: 0px;
    color: #fff;
    background-color: #643A79;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    padding-top: 10px;
    margin-top: 7px;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    border-radius: 0px;
    background-color: #643A79;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #643A79
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #643A79;
}

.navbar-default .navbar-toggle {
    border-color: 3px solid #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


/*Row [1]*/

.fix-1-row {
    background-color: #87509C;
    width: 100%;
    height: auto;
}

.fix-text-header {
    font-family: 'Francois One', sans-serif;
    font-size: 41px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 90px;
}

.fix-btn-header {
    background-color: #EB7D4B;
    border: none;
    border-bottom: 5px solid #C86A40;
    height: 60px;
    border-radius: 0px 0px;
    margin-bottom: 90px;
    margin-top: 72px;
    width: 35%;
}


/*Row [1]*/

.fix-2-row {
    background-color: #17C2A4;
    width: 100%;
}

.fix-title-text {
    margin-top: 80px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

b {
    border-bottom: 4px solid #14A58C;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.fix-content-text {
    color: #fff;
    font-size: 20px;
}

.fix-title-box-text {
    color: #fff;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.fix-content-box-text {
    color: #fff;
    margin-top: 5px;
    font-size: 15px;
    text-transform: capitalize;
}

.fix-2-row img {
    margin-top: 50px;
}

.fix-2-row-botton {
    margin-bottom: 70px;
}

.fix-3-row {
    background-color: #E7F1F8;
    width: 100%;
    height: 100%;
}

.fix-content2-text {
    color: #3C4761;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Francois One', sans-serif;
}

.fix-content3-text {
    color: #535E75;
    text-transform: none;
    font-size: 18px;
    margin-top: 0px;
}

.b2 {
    border-bottom: 4px solid #14A58C;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.fix-2-title-box-text {
    color: #3C4761;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.text-sub {
    color: #48C1E9;
    margin-top: 0px;
}

.fix-content-mar {
    margin-bottom: 60px;
    text-align: center;
}

.fix-2-content-box-text {
    color: #535E75;
    margin-top: 5px;
    font-size: 15px;
    text-transform: capitalize;
}

.fix-ul {
    text-align: center;
}

.icon {
    font-size: 1.6em;
    background-color: #BDD1DF;
    border-radius: 1px;
    padding: 8px;
    color: #fff;
    margin-left: 8px
}

.fix-sub-row {
    margin-bottom: 30px;
}

.fix-4-row {
    background-color: #fff;
    width: 100%;
}

.circles {
    margin-bottom: -10px;
}

.circle {
    width: 100%;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle canvas {
    vertical-align: top;
}

.circle strong {
    position: absolute;
    top: 34%;
    left: 0;
    width: 100%;
    text-align: center;
    /* line-height: 40px; */
    font-size: 30px;
    color: #3C4761;
}

.fix-col {
    margin-bottom: 30px;
    margin-top: 20px;
}

.fix-4-content-box-text {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Francois One', 'sans-serif';
    text-align: center;
    color: #3C4761;
    margin-top: 20px;
}


/*Section 5*/

.fix-5-row {
    background-color: #FFDD99;
    width: 100%;
    height: auto;
}

.fix-btn-4 {
    background-color: #EBC985;
    border: none;
    color: #393939;
    width: 8%;
    margin-left: 10px;
}

.fix-btn-4:hover {
    background-color: #fff;
    color: #393939;
}

.fix-margin-top {
    margin-top: 40px;
}

.fix-text-4 {
    color: #3C4761;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 10px;
}

.b4 {
    border-bottom: 4px solid #E5C37F;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.fix-btn-5 {
    background-color: #17C2A4;
    border: none;
    border-bottom: 5px solid #14A58C;
    height: 60px;
    border-radius: 0px 0px;
    margin-bottom: 90px;
    margin-top: 72px;
    width: 35%;
    color: #fff;
    text-transform: uppercase
}

.fix-btn-5:hover {
    background-color: #14A58C;
    color: #fff;
    border-bottom: 5px solid #17C2A4;
}


/*Section 6*/

.fix-6-row {
    background-color: #D74680;
    width: 100%;
    height: auto;
}

.fix-text-6 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Francois One', sans-serif;
}

.b6 {
    border-bottom: 4px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.fix-content6-text {
    color: #fff;
    text-transform: none;
    font-size: 18px;
    margin-top: 0px;
}

.box img {
    flo
}

@media (min-width: 400px)and (max-width: 710px) {
    .fix-btn-header {
        width: 50%;
    }
}

@media (min-width: 100px)and (max-width: 410px) {
    .fix-btn-header {
        width: 100%;
    }
}

@media (min-width: 100px)and (max-width: 536px) {
    b {
        padding-left: 9px;
        padding-right: 10px;
        /* padding-bottom: 10px; */
        display: block;
        border: none;
        padding-bottom: 0px;
    }
    .b2 {
        padding-left: 9px;
        padding-right: 10px;
        /* padding-bottom: 10px; */
        display: block;
        border: none;
        padding-bottom: 0px;
    }
}