/**/
@import url('https://fonts.googleapis.com/css?family=Mada&subset=arabic');
*{
font-family: 'Mada', sans-serif;
}
body{
background:#f0f8ff;
}
/*this class row[1] */
.fixrow{
margin: auto;
position: relative;
top:200px;;
}
/*Fix Button */
.fixbtn{
width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.input-group .form-control:focus{
z-index: 0;
}

.form-group-lg .form-control+.form-control-feedback,
 .input-group-lg+.form-control-feedback,
  .input-lg+.form-control-feedback{
  pointer-events: painted;
cursor: pointer;
  }
